@import "tailwindcss";
@import "tw-animate-css";



html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  font-family: 'IranSansX', sans-serif;
  font-feature-settings: "ss01";
}

/* Define Iran Sans font faces */
@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-Thin.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('/fonts/IRANSansX-Medium.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-Regular.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-DemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}


@theme {
  --color-text-1: #ffffff;
  --color-text-2: #8C8C8C;
  --color-text-3: #737373;
  --color-text-4: #404040;
  --color-text-5: #0D0D0D;

  --color-surface-1: #ffffff;
  --color-surface-2: #FAFAFA;
  --color-surface-3: #F5F5F5;
  --color-surface-4: #F1F1F1;

  --color-stroke-1: #F4F4F4;
  --color-stroke-2: #EAEAEA;

  --color-primary-50: #FDF8F4;
  --color-primary-100: #F7DAC6;
  --color-primary-200: #F2C3A4;
  --color-primary-300: #EDAD82;
  --color-primary-400: #E89660;
  --color-primary-500: #E3803E;
  --color-primary-600: #DE691C;  /* main */
  --color-primary-700: #BD5918;
  --color-primary-750: #9B4A14;
  --color-primary-800: #7A3A0F;
  --color-primary-850: #592A0B;
  --color-primary-900: #211004;

  --color-secondary-50: #F5F5F6;
  --color-secondary-100: #CFCFD0;
  --color-secondary-200: #B2B2B3;
  --color-secondary-300: #959597;
  --color-secondary-400: #78787B;
  --color-secondary-500: #5B5B5E;
  --color-secondary-600: #3E3E42; /* main */
  --color-secondary-700: #353538; 
  --color-secondary-750: #2B2B2E; 
  --color-secondary-800: #222224;
  --color-secondary-850: #19191A;
  --color-secondary-900: #09090A;

  --color-success-50: #E1F2E9;
  --color-success-100: #308258;

  --color-error-50: #FFE3E0;
  --color-error-100: #BC2A24;

  --color-warning-50: #FFF6E8;
  --color-warning-100: #F3B63D;

  --color-info-50: #E8F3FF;
  --color-info-100: #2C86EE;



}

